* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #c6e9e6;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

form {
    background: rgba(248, 162, 225, 0.9); /* Fundo translúcido */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

form h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

form fieldset {
    border: none;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #0c0c0ef6;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ec6ec4;
}

@media screen and (max-width: 599px) {
    form {
        padding: 20px;
    }
}